<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="Content/Bootstrap.css">
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
