@{
  Layout = "Shared/_layout.cshtml";
}

<form action="/bands/add/success" method="post">
  <label for="new-band">Enter a new Band</label>
  <input type="text" name="new-band">
  <button type="submit" name="button">Submit Band</button>
</form>
