@{
  Layout = "Shared/_layout.cshtml";
}

<ul>
  @foreach(var item in @Model)
  {
    <li>@item.GetName()</li>
  }

  <!-- Where would you like this band to go?
  <form action="" method="post">

  </form> -->
</ul>
