@{
  Layout = "Shared/_layout.cshtml";
}

<div class="jumbotron">
  <h2>VENUE STUFF</h2>
</div>

<div class="col-md-6">
  <form action="/venues">
    <button type="submit" class="btn" name="button">VIEW VENUES</button>
  </form>
  <form action="/venues/add">
    <button type="submit" class = "btn" name="button">ADD VENUES</button>
  </form>
  <!-- <a href="/venues">Click here</a> to display a list of Venues -->

</div>

<div class="col-md-6">
  <form action="/bands">
    <button type="submit" class = "btn" name="button">VIEW BANDS</button>
  </form>
  <form action="/bands/add">
    <button type="submit" class = "btn" name="button">ADD BANDS</button>
  </form>
</div>
<!-- <a href="/bands">Click here</a> to display a list of Bands -->
