@{
  Layout = "Shared/_layout.cshtml";
}

<div class="jumbotron">
  <h2>VENUE STUFF</h2>
</div>

<a href="/venues">Click here</a> to display a list of Venues

<a href="/bands">Click here</a> to display a list of Bands
